$accent-color: #ECF8F6;
$primary-color: #226D68;

input[type="text"] {
  border: solid 1px black;
  padding: 10px;
  border-radius: 8px;
  margin-right: 4px;
  display: inline-block;
  width: 30%;
}
// bouton
html,body{
  height:100%;
}
body{
  text-align:center;
}
body:before{
  content:'';
  height:100%;
  display:inline-block;
  vertical-align:middle;
}
button{
  background:#1AAB8A;
  color:#fff;
  border:none;
  position:relative;
  height:40px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
button:hover{
  background:#fff;
  color:#1AAB8A;
}
button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}
// fin bouton


// button {
//   padding: 10px;
//   border: solid 1px $primary-color;
//   background: $primary-color;
//   color: white;
//   border-radius: 8px;
// }

// @media (min-width: 500px) and (max-width: 768px) {
//   .results {
//     grid-template-columns: repeat(2, 1fr);
//   }

//   input[type="text"] {
//     width: 70%;
//   }
// }

// @media (max-width: 499px) {
//   .results {
//     grid-template-columns: 1fr;
//   }
// }
