<a [routerLink]="['/']">
  <header class="brand-name">
    <img class="brand-logo" src="/assets/logojeux.webp" alt="logo" aria-hidden="true" />
  </header>
</a>

<section>
  <form>
    <input type="text" placeholder="Filter by city" #filter/>
    <button class="primary" type="button" (click)="filterResults(filter.value)">Search</button>
  </form>
</section>

<section>
  <!-- Plus tard, remplacer le *ngFor par @For -->
  <app-air-of-play-location *ngFor="let airofplaylocation of filteredLocationList" [airofplayLocation]="airofplaylocation"></app-air-of-play-location>
</section>
