<article>
  <img class="listing-photo" [src]="airofplay?.photo" alt="Exterior photo of {{airofplay?.name }}" crossorigin />
  <section class="listing-description">
    <h2 class="listing-heading">{{ airofplay?.name }}</h2>
    <p class="listing-location">{{ airofplay?.city }}, {{ airofplay?.adress }}</p>
  </section>
  <section class="listing-features">
    <h2 class="section-heading">About this air of play</h2>
    <ul>
      <li>Nombre de jeux: {{ airofplay?.numberGame }}</li>
      <li>L'air de jeu à était inspecter : {{ airofplay?.inspect }}</li>
      <li>L'air de jeu est fonctionel : {{ airofplay?.functional }}</li>
    </ul>
  </section>
  <section class="listing-apply">
    <h2 class="section-heading">Apply now to live here</h2>
    <form [formGroup]="applyForm" (submit)="submitApplication()">
      <label for="first-name">First Name</label>
      <input id="first-name" type="text" formControlName="firstName" />
      <label for="last-name">Last Name</label>
      <input id="last-name" type="text" formControlName="lastName" />
      <label for="email">Email</label>
      <input id="email" type="email" formControlName="email" />
      <div class="data-container">
        <button type="submit" class="btn">Apply now</button>
      </div>
    </form>
  </section>
</article>
